*{
	margin:0;
	padding: 0;
	font-family: 'Goldman', cursive;
}
.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
header{
	width: 100%;
	display: flex;
	height: 80px;
	position: sticky;
	z-index: 10;
}
.container-burger{
	width: 80px;
	height: 100%
}
.burger_absolute{
	position: absolute;
	left:0;
	top:0;
	width: 0px;
	height: 80px;
	transition-property: width;
	transition-duration: .3s;
	background-color:white;
	z-index: 2;
}
.burger_absolute.vissible{
	width:100%;
	height: 100vh;
}
@media screen and (min-width: 600px){	
	.burger_absolute.vissible{
		width:400px;
	}
}
.burger_absolute.vissible .burger_menu{
	border-right:none;
}
.burger_menu{
	position: absolute;
	left:0;
	top:0;
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-right: solid 1px black;
}
.burger_menu:hover{
	cursor: pointer;
}
.burger_menu > div{
	box-sizing: border-box;
	margin:3px;
	width: 30px;
	height: 3px;
	background-color: black;
	transition-property: opacity, transform;
	transition-duration: .5s;
}
.change .burger_line1{
	transform: rotate(-45deg) translate(-7px,6px);
}
.change .burger_line2{
	opacity: 0;
}
.change .burger_line3{
	transform: rotate(45deg) translate(-7px,-6px);
}
.hidden_nav{
	width:0;
	position: fixed;
	top:80px;
	left:0;
	height: calc(100vh - 80px);
	background-color:white;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	transition-property: width;
	transition-duration: .3s;
	z-index: 2;
}
.hidden_nav.vissible{
	width:100%;
}
@media screen and (min-width: 600px){
	.hidden_nav.vissible{
		width:400px;
	}
}
.hidden_nav > .nav_item{
	padding: 15px;
	border-bottom: solid 1px #333;
	color: #333;
	text-decoration: none;
	display: flex;
	justify-content: center;
}
.hidden_nav > .nav_item:last-child{
	padding: 15px;
	border-bottom: none;
}
.hidden_nav .nav_item:hover{
	color:white;
	background-color: #17E4FF;
}
.upper_nav{
	height: 100%;
	display:flex;
	align-items: center;
}
.upper_nav .nav_item{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 10px;
	text-decoration: none;
	color:#333;
	font-size:20px;
	display: none;
}
@media screen and (min-width: 1000px){
	.upper_nav .nav_item{
		display: flex;
	}
}
.upper_nav .nav_item:first-child{
	display: flex;
}
.upper_nav .nav_item:hover{
	color:#17E4FF;
	border-bottom: solid 3px #17E4FF;
}
#logo{
	text-transform: uppercase;
	font-weight: 550;
	font-size:30px;
}
.dark{
	position: absolute;
	left:00px;
	top:0;
	width: 0;
	height: 100vh;
	background-color:black;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}
@media screen and (min-width: 600px){
	.dark.vissible{
		width:100vw;
		opacity: 0.3;
	}
}
main{
	width: 100%;

}
.slider_container{
	width: 100%;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 10px 0;
}
.slider{
	position: relative;
	width: 100%;
	height: 100%;
	color:white;
	font-size:17px;
	background: url("img/slide1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition-property: background;
	transition-duration: .4s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*#previous_slide{
	background: url("img/img1.png");
	background-size: cover;
	background-repeat: no-repeat;
}
#new_slide{

	} */
@media screen and (min-width: 600px){
	.slider_container{
		height: 500px;
	}
}
@media screen and (min-width: 1000px){
	.slider_container{
		height: 600px;
	}
	.slider{
		width:80%;
		height: 600px;
	}
}
.slider_content{
	text-shadow: 0 0 2px #000;
	text-align: center;
}
.slider_content h1{
	font-size:35px;
}
.slider_content p{
	font-size:20	px;
}
.slider_button{
	margin-top:50px;
	padding: 15px 30px;
	background-color: #1CE001;
	color:white;
	text-decoration: none;
}
.slider .arrow{
	position: absolute;
	top:50%;
	width:40px;
	height: 40px;
	color:white;
	padding: 10px;
	transform: translate(0,-50%);
	font-size: 35px;
	background-color:black;
	opacity: 0.4;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .arrow:hover{
	opacity: 0.6;
}
.slider .icon-left-open{
	left:0;
}
.slider .icon-right-open{
	right:0;
}
.circles{
	position: absolute;
	bottom:0;
	left: 50%;
	transform:translateX(-50%);
	display: flex;
}
.circle{
	width:15px;
	height: 15px;
	border-radius: 100%;
	background-color:#bbb;
	margin:13px;
	cursor: pointer;
}
.circle:first-child{
	background-color:#1CE001;
}
address{
	width: 100%;
	background-color: #eee;
}
.address_div{
	display: flex;
	flex-direction: column;
	width: 100%;
}
@media screen and (min-width: 600px){
	address{
		display: flex;
		justify-content: space-around;
	}
	.address_div{
		width: 25%;
	}
}
@media screen and (min-width: 1000px){
	.address_div{
		width: 20%;
	}
}
.address_div p, .address_div a{

	padding: 5px;
}
.address_title{
	font-size: 20px;
	margin-bottom: 20px;
}
.address_div a{
	text-decoration: none;
	color:black;
}
.copy_line{
	display: flex;
	align-items: center;
}
.copy{
	padding: 7px;
	border-radius: 8px;
	background-color:#1CE001;
	color:white;
	margin-left:8px;
	cursor: pointer;
}
footer{
	width: 100%;
	height: 30px;
	color:#ccc;
	background-color: #333;
	align-self: flex-end;
	display: flex;
	align-items: center;
	font-size:20px;
	font-weight: 400px;
}